.diferenciais-bg {
    background: var(--cor-p1);
}
.titulo-diferenciais {
    text-align: center;
    padding-top: 160px;
}
.diferenciais {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    padding-top: 123px;
    padding-bottom: 136px;
}
.imagem-ilustracao {
    padding-bottom: 10px;
}
.diferenciais p {
    padding-top: 15px;
}