.introducao-bg {
  background: var(--cor-p1);
}
.container-cores{
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(89px, 0);
}
.cor-primaria{
  width: 686px;
  position: absolute;
  right: 0;
  border-left: 470px solid transparent;
  border-bottom: 702px solid #FF5757;
  filter: drop-shadow(-5px 0px 10px rgba(0, 0, 0, 0.25));
}
.cor-secundaria{
  position: absolute;
  right: 0;
  width: 480px;
  border-left: 334px solid transparent;
  border-bottom: 702px solid #FF3939;
  filter: drop-shadow(-5px 0px 10px rgba(0, 0, 0, 0.25));
}
.cor-terciaria{
  width: 100vw;
  position: absolute;
  z-index: 1;
  border-left: 155px solid transparent;
  border-bottom: 702px solid #FF0202;
  filter: drop-shadow(-5px 0px 10px rgba(0, 0, 0, 0.25));
  transform: translate(-300px, 0);
}


.introducao {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  padding-top: 70px;
}
.informacao {
  padding-top: 90px;
}
.item-introducao {
  display: inline-block;
  background: var(--cor-11);
  margin-top: 20px;
  width: 200px;
  height: 56px;
  clip-path: polygon(0 0, 84% 0, 100% 38%, 100% 100%, 0 100%, 0% 50%);
}
.item-introducao a {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 56px;
}
.item-introducao img {
  margin-left: 10px;
}