.vantagens-bg {
  background: var(--cor-p1);
}
.vantagens {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
}
.vantagens img {
  padding-top: 104px;
}
.vantagens .titulo-vantagens {
  padding-top: 164px;
  padding-bottom: 125px;
}
.vantagens .vantangens-1 h2{
  padding-bottom: 28px;
}
.vantagens .titulo-vantagens p{
text-transform: capitalize;
}
.vantagens .item-vantagens {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1150px) {
  .vantagens {
    grid-template-columns: 1fr;
}
.vantagens img {
  display: none;
}
.vantagens .titulo-vantagens {
  padding-top: 110px;
  padding-bottom: 80px;
  text-align: center;
}
.vantagens .item-vantagens {
  padding-bottom: 110px;
}
.vantagens .vantangens-1{
  text-align: center;
}
}